---
alertmanager:
  enabled: false

grafana:
  enabled: false

kubernetesServiceMonitors:
  enabled: false

nodeExporter:
  enabled: false

kubeStateMetrics:
  enabled: false

prometheus:
  prometheusSpec:
    retention: 120d
    enableRemoteWriteReceiver: true
    storageSpec:
      volumeClaimTemplate:
        metadata:
          name: prometheus-pvc
        spec:
          storageClassName: ""
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Mi
          selector:
            matchLabels:
              app.kubernetes.io/name: prometheus
    enableAdminAPI: true
  route:
    main:
      enabled: true
      hostnames:
        - prometheus.g2net.xyz
      parentRefs:
        - name: cilium-shared-gateway
          namespace: kube-system
          sectionName: https
