---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: cilium
    repo: https://helm.cilium.io/
    version: 1.18.2
    namespace: kube-system
    releaseName: cilium
    valuesFile: values.yaml
    includeCRDs: true

resources:
  - hubble-ui-httproute.yaml
  - ip-pool.yaml
  - announcement-policy.yaml
  - gateway.yaml

patches:
  - target:
      kind: ConfigMap
      name: cilium-config
      version: v1
    patch: |-
      - op: add
        path: /data/bpf-filter-riority
        value: "2"
