---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: observability

helmCharts:
  - name: grafana
    repo: https://grafana.github.io/helm-charts
    namespace: observability
    version: 10.1.5
    releaseName: grafana
    valuesFile: values.yaml

resources:
  - pvc.yaml
  - httproute.yaml
  - sealed-secret.yaml
