grafana.ini:
  server:
    domain: grafana.g2net.xyz
    root_url: https://grafana.g2net.xyz
route:
  main:
    enabled: true
    hostnames:
      - grafana.g2net.xyz
    parentRefs:
      - name: cilium-shared-gateway
        namespace: kube-system
        sectionName: https


persistence:
  enabled: true
  volumeName: grafana-pv
  existingClaim: grafana-pvc
  storageClassName: local-storage

testFramework:
  enabled: false

plugins:
  - grafana-strava-datasource

env:
  # https://grafana.com/grafana/plugins/grafana-strava-datasource/
  name: GF_FEATURE_TOGGLES_ENABLE
  value: externalServiceAccounts

admin:
  existingSecret: grafana-admin-credentials
  userKey: admin-user
  passwordKey: admin-password
