route:
  main:
    enabled: true
    hostnames:
      - grafana.g2net.xyz
    parentRefs:
      - name: cilium-shared-gateway
        namespace: kube-system

persistence:
  enabled: true
  volumeName: grafana-pv
  existingClaim: grafana-pvc
  storageClassName: local-storage

testFramework:
  enabled: false

plugins:
  - grafana-image-renderer
  - grafana-strava-datasource

env:
  # https://grafana.com/grafana/plugins/grafana-strava-datasource/
  name: GF_FEATURE_TOGGLES_ENABLE
  value: externalServiceAccounts

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/arch
              operator: In
              values:
                - amd64

#https://github.com/grafana/helm-charts/blob/b672274878f23b6817e406922775fbfee6352a1a/charts/grafana/values.yaml#L664
datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        url: http://prometheus-operated:9090
        access: proxy
        isDefault: false
        editable: false
        basicAuth: false
        uid: prometheus-main
        jsonData:
          timeInterval: 60s
      - name: Loki
        type: loki
        url: http://loki-gateway
        access: proxy
        isDefault: false
        editable: false
        basicAuth: false
        uid: loki-main
      - name: Tempo
        type: tempo
        url: http://tempo:3200
        access: proxy
        isDefault: false
        editable: false
        basicAuth: false
        uid: tempo-main
        jsonData:
          nodeGraph:
            enabled: true
          search:
            filters:
              - id: service-name
                operator: '='
                scope: resource
                tag: service.name
              - id: span-name
                operator: '='
                scope: span
                tag: name
          serviceMap:
            datasourceUid: prometheus-main

#https://github.com/grafana/helm-charts/blob/b672274878f23b6817e406922775fbfee6352a1a/charts/grafana/values.yaml#L687
alerting: {}

#https://github.com/grafana/helm-charts/blob/b672274878f23b6817e406922775fbfee6352a1a/charts/grafana/values.yaml#L780
notifiers: {}

#https://github.com/grafana/helm-charts/blob/b672274878f23b6817e406922775fbfee6352a1a/charts/grafana/values.yaml#L800
dashboardProviders: {}

#https://github.com/grafana/helm-charts/blob/b672274878f23b6817e406922775fbfee6352a1a/charts/grafana/values.yaml#L831
dashboards: {}
