---
apiVersion: v1
kind: Service
metadata:
  name: maistokainos
spec:
  selector:
    app: maistokainos
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 8080
    - name: metrics
      protocol: TCP
      port: 8081
      targetPort: 8081
